extends layout.pug

include utils.pug
block content
  link(rel="stylesheet" href="/stylesheets/comments.css")
  div(class="comment-thread")
    div(class="comment" id=`post-${postId}`)
      div(class="comment-heading")
        div(class="comment-voting")
          button(type="button")
            span(aria-hidden="true") &#9650
            span(class="sr-only") Vote Up 
          button(type="button")
            span(aria-hidden="true") &#9660
            span(class="sr-only") Vote Down 
        div(class="comment-info")
          a(href="#" class="comment-author")=originalUser.username
          p(id=`time-${postId}` class="m-0") loading...
          div(id=`timePosted-${postId}` style="display: none;")=post.createdAt
          div(id='thispostId' style="display: none;")=post.id
        script 
          include ../public/javascripts/post-time-script.js
      div(class="comment-body")
        p=post.header
        p=post.content
        p 
            a(href=`/posts/feed/${postId}/create-comment` class="button3") Comment


  div.comment-container 
    each comment in allComments.reverse()
        div(class="comment-thread-responses")
            div(class="comment" id=`comment-${comment.id}`)
                div(class="comment-info-responses")
                    a(href="#" class="comment-author-responses")=originalUser.username
                    p(id=`time-${comment.id}` class="m-0") loading...
                    div(id=`timePosted-${comment.id}` style="display: none;")=post.createdAt
                    div(id='thiscommentId' style="display: none;")=comment.id
                script 
                    include ../public/javascripts/comment-time-script.js
                div(class="comment-heading-responses")=comment.content