extends layout.pug
include utils.pug
block content
  h1= post.userId
  h2= user.id
    if user.id === post.userId
        div.post-container
            p
                i=`Posted by user ${user.username}`
            div.header
                h1=post.header
            div.content
                p=post.content
            div.comment
                textarea(id='textarea-comment')
            button(type=submit) Edit Post
    else
        div.post-container
            p
                i=`Posted by user ${user.username}`
            div.header
                h1=post.header
            div.content
                p=post.content
            div.comment
                textarea(id='textarea-comment')
            button(type=submit) Cannot edit