extends layout.pug

include utils.pug

block content

    //- link(rel="stylesheet" href="/stylesheets/feed.css")
    div.content-container
        h1.title Latest Posts
            each post in allPosts
                div.post-container
                    div.post-title-preview
                        h3
                            a(style="color: #f0ad8e", href=`/posts/feed/${post.id}`)= post.header
                        div.content-preview
                            h2= post.content
                        div.user-posted
                            p(post-container__user-font) posted by user:
                                span #{post.user.username}
                                    button.edit
                                        i Edit
                    hr
                div.buttons
                    button(id=`like-${post.id}`) Like
                    a(id=`comment-${post.id}` href=`/posts/feed/${post.id}/create-comment`) Comment