extends layout.pug
block styles
  link(rel="stylesheet" href="/stylesheets/profile.css")
block content
  //- the only job that the profile view does is DISPLAY the USER BEING VIEWED
  header
  main
  div.profile-grid-container
    div.container-card.grid-item-profile
      div.card
        if userBeingViewed.username === "bartS"
          img(class='profile-image' src='../../images/bartcoder.png' alt="profile img")
        else
          img(class='profile-image' src='../../images/default.jpg' alt="profile img")
        div.user-info-container
          div.user-info-container__details
            div.username=userBeingViewed.username
            div.profession Software Engineer
            div.location Los Angeles, CA
          div.user-details__buttons
            if (locals.authenticated && userBeingViewed.id !== locals.user.id) || !locals.authenticated
              if !follow
                button(class=buttonClass class='user-follow-btn' id=userBeingViewed.id value=buttonClass) #{text}
              else
                button(class=buttonClass class='user-follow-btn' id=userBeingViewed.id value=buttonClass) &#10003; Following
    div.socials-container.grid-item-socials
      //- for each social of user in db, render template of data
      div.socials-flex-container
        div.social-items
          div.social-item
            div.social-link
              div.social-link__icon
                i.fab.fa-github
              div.social-link__text Github
              hr.social-divider
            div.handle-text BartS
        div.social-items
          div.social-item
            div.social-link
              div.social-link__icon
                i.fab.fa-linkedin
              div.social-link__text LinkedIn
              hr.social-divider
            div.handle-text linkedin.com/in/BartS
        div.social-items
          div.social-item
            div.social-link
              div.social-link__icon
                i.fas.fa-user-circle
              div.social-link__text Website
              hr.social-divider
            div.handle-text barts.io
        div.social-items
          div.social-item
            div.social-link
              div.social-link__icon
                i.fas.fa-envelope
              div.social-link__text Email
              hr.social-divider
            div.handle-text barts@gmail.com
        div.social-items
          div.social-item
            div.social-link
              div.social-link__icon
                i.fab.fa-twitter-square
              div.social-link__text Twitter
              hr.social-divider
            div.handle-text @Barts
        div.social-items
          div.social-item
            div.social-link
              div.social-link__icon
                i.fab.fa-instagram-square
              div.social-link__text Instagram
              hr.social-divider
            div.handle-text @BartS
    div.skills-container.grid-item-skills
      div.user-skills
        div.user-skills-title Skills
        div.user-skills-items
          div.skill-item JavaScript
          div.skill-item CSS
          div.skill-item HTML
          div.skill-item Pug
          div.skill-item Node
          div.skill-item Express
          div.skill-item Mocha-Chai
          div.skill-item SQL
          div.skill-item PostgreSQL
          div.skill-item Sequelize
          div.skill-item Algorithms
          div.skill-item Datastructures
          div.skill-item CS Fundamentals
          div.skill-item Git
          div.skill-item UI/UX
          div.skill-item Photoshop
          div.skill-item Figma
          div.skill-item Skateboarding
    div.posts-container.grid-item-posts
      div.user-posts
        div.user-title #{userBeingViewed.username}'s Recent Posts
        hr.posts-hr
        ul
          each post in currentUserPosts
            div.post-outline
              div.post-header=post.header
              div.post-content=post.content

    if (locals.authenticated && userBeingViewed.id === locals.user.id)
      div.followers-container.grid-item-followers
        div.followers-flex
          div.followers-title
            a(class="followers-link" href="" )  View Following
              <i class="fas fa-external-link-alt"></i>
  script(src="../../javascripts/follow.js")
